<!doctype html>
<head>
    <title>Atom notes</title>
</head>

<html>
<body>
	<center>
		<table class="main_table">
			<tr>
				<td colspan="3" height="30" bgcolor="#aaa">
					<center>
						<h1><font color=#754> Magic the Gathering</font> </h1>
					</center>
				</td>
			</tr>
			<tr>
				<td height="30" width="33%" bgcolor="#985">
					<center>
						<b><a href="/" class="top_link">Купленные карты</a></b>
					</center>
				</td>
				<td width="33%" bgcolor="#652">
					<center>
						<b><a href="/get_card">Приобрести новые</a></b>
					</center>
				</td>
				<td width="33%" bgcolor="#985">
					<center>
						<b><a href="/balance" class="top_link">Баланс</a></b>
					</center></td>
			</tr>
			<tr>
				<td colspan="3" valign="top" bgcolor="#aaa">
					<div>
						<span>По вашему было найдено несколько карт. Выберите нужную</span>
						<table>
						<% FOREACH card IN cards %>
							<tr>
								<form action="/proof" method="post">
									<td>
										<% card.card_name %>
									</td>
									<td>
									<input type="submit" value="Buy card" />
										<input type="hidden" name="card_name" value="<% card.card_name %>" />
										<input type="hidden" name="link" value="<% card.link %>" />
										<input type="hidden" name="csrf_token" placeholder="csrftoken"  value="<% csrf_token %>"/>
									</td>
								</form>	
							</tr>
						<% END %>
						</table>
					<div>
				</td>
			</tr>
		</table>
	</center>


</body>
</html>
