body {
	background-color: #ddd;
	background-image: url("/images/bg.jpg");
	color: white;
	
}

.auth {
	width: 400px;   
	height: 250px;
	position: absolute;
	top: 35%;
	left: 50%;
	margin: -125px 0 0 -200px;
	outline: 1px solid #fff;
}

.main_table {
	width: 600px;
}
